__pycache__/
*.py[cod]
**/.venv/
**/.venv-win/
*/paper/*.log
*/paper/source/*.aux
*/paper/source/*.fdb_latexmk
*/paper/source/*.fls
*/paper/source/*.log
*/paper/source/*.out
*/paper/source/*.pdf
*/paper/source/*.synctex.gz
*/paper/source/*.xdv
